pre{
    background: none !important;
    border: none !important;
    padding: 0 !important;
}
.product-selectors{
    text-align: center;
    font: 14px 'Khand',sans-serif;
    color: #909090;
    border-bottom: 4px double #f1f1f1;
}
.product-selectors select{
    margin-top: 12px;
}
.product-selectors span{
    display: inline-block;
    line-height: 40px;
    font-size: 18px;    
}
.grid-layer-area{
    font: 20px 'Khand',sans-serif;
    color: #909090;
}
.grid-layer-area .grid{
    margin-left: 25px;
}
.sort-element span{
    font-size: 21px !important;
}