.header-logo{
    text-align: center !important;
}
.header-logo .logo{
    max-height: 80px !important;
}
@media screen and (min-width: 1025px){
    .header-upper-area{
        max-width: 1230px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .header-logo{
        width: 33.33% !important;
    }
    .navbar-nav{
        margin-top: auto !important;
    /* margin-right: auto !important; */
        margin-bottom: auto !important;
        margin-left: auto !important;
    }

}
@media screen and (max-width: 1024px) and (min-width: 200px){
    #contact-number, #whishlist-area{
        display: none;
    }
    .header-logo{
        max-width: 1024px !important;
    }
}