@media screen and (max-width: 480px){
    .featured-product{
        margin-top: 55px !important;
      }
      .featured-product .title{
          text-align: center;
          font-size: 24px;
      }
      .featured-product .feature-product-item h5{
          font-size: 16px;
          font-weight: 500;
          color: #909090;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
      }
      .mens-and-womens{
          width: 100% !important;
      }
      .feature-product-item{
          position: relative;
          width: 100% !important;
      }
      .featured-icon-area{
          display: none;
      }
      .featured-icon-area li{
        float: left;
        padding: 15px;
        background: white;
        margin-left: 15px;
        list-style-type: none;
        color: darkgray;
      }
      .featured-icon-area li:hover{
        background: #D02027;
      }
  }
  @media screen and (max-width: 768px) and (min-width: 481px){
      .featured-product{
          margin-top: 55px !important;
      }
      .featured-product .title{
          text-align: center;
          font-size: 24px;
      }
      .featured-product .feature-product-item h5{
          font-size: 16px;
          font-weight: 500;
          color: #909090;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
      }
      .mens-and-womens{
        width: 50% !important;
      }
      .feature-product-item{
          position: relative;
          width: 50% !important;
      }
      
      .featured-icon-area{
          display: none;
      }
    .featured-icon-area li{
        float: left;
        padding: 15px;
        background: white;
        margin-left: 15px;
        list-style-type: none;
        color: darkgray;
    }
    .featured-icon-area li:hover{
        background: #D02027;
    }
  }
  @media screen and (max-width: 1024px) and (min-width: 769px){
      .featured-product{
        margin-top: 55px !important;
    }
    .featured-product .title{
        text-align: center;
        font-size: 24px;
    }
    .featured-product .feature-product-item h5{
        font-size: 16px;
        font-weight: 500;
        color: #909090;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    .featured-icon-area{
        display: none !important;
    }
    .featured-icon-area li{
        float: left;
        padding: 15px;
        background: white;
        margin-left: 15px;
        list-style-type: none;
        color: darkgray;
    }
    .featured-icon-area li:hover{
        background: #D02027;
    }
  }
  @media screen and (min-width: 1025px){
    .featured-product{
        margin-top: 55px !important;
    }
    .featured-product .title{
        text-align: center;
        font-size: 24px;
    }
    .featured-product .feature-product-item h5{
        font-size: 16px;
        font-weight: 500;
        color: #909090;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    .feature-product-item{
        position: relative;
    }
    .feature-product-item:hover .featured-icon-area{
        display: block;
    }
    .feature-product-item:hover .featured-icon-area li{
        cursor: pointer;
    }
    .featured-icon-area{
        position: absolute !important;
        top: 380px !important;
        z-index: 100 !important;
        display: none;
    }
    .featured-icon-area li{
        float: left;
        padding: 15px;
        background: white;
        margin-left: 15px;
        list-style-type: none;
        color: darkgray;
    }
    .featured-icon-area li:hover{
        background: #D02027;
    }
  }
  .feature-product-item a{
    text-decoration: none;
}
  a:hover{
      text-decoration: none;
  }