@media screen and (max-width: 480px){
    .newborn-collection-page{
        max-width: 1180px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
    }
    .newborn-collection-page .main-title{
        text-align: center;
        color: #4d4d4d;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 3px;
        font-weight: 600;
    }
    .grid-main-area{
        width: 100% !important;
    }
    .grid-main-area .container{
        max-width: 730px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .grid-main-area .product{
        width: 100% !important;
    }
    /* Title area */
    .title{
        padding: 7px 0;
        cursor: default;
        text-align: left;
        background: none;
        display: none;
    }
    .title strong{
        font-weight: normal;
        display: block;
        color: #4d4d4d;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 3px;
        border-bottom: 4px double #f1f1f1;
    }

    /* Selectors and Grid area */
    .product-selectors{
        text-align: center;
        font: 14px 'Khand',sans-serif;
        color: #909090;
        border-bottom: 4px double #f1f1f1;
    }
    .product-selectors select{
        margin-top: 12px;
    }
    .product-selectors span{
        display: inline-block;
        line-height: 40px;
        font-size: 18px;    
    }
    .grid-layer-area{
        font: 20px 'Khand',sans-serif;
        color: #909090;
        width: 100%;
    }
    .grid-layer-area .grid{
        margin-left: 25px;
    }
    .sort-element span{
        font-size: 21px !important;
    }


    /* Hover icon area */
    .product{
        position: relative;
    }
    .product:hover .icon-area{
        display: block;
    }
    .product:hover .icon-area li{
        cursor: pointer;
    }
    .icon-area{
        position: absolute;
        top: 275px;
        z-index: 100;
        display: none;
        padding: 0 !important;
    }
    .icon-area li{
        float: left;
        padding: 15px;
        background: white;
        margin-left: 15px;
        list-style-type: none;
        color: darkgray;
    }
    .icon-area li:hover{
        background: #D02027;
    }
}
@media screen and (max-width: 768px) and (min-width: 481px){
    .newborn-collection-page{
        max-width: 1180px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
    }
    .newborn-collection-page .main-title{
        text-align: center;
        color: #4d4d4d;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 3px;
        font-weight: 600;
    }
    .grid-main-area{
        width: 100% !important;
    }
    .grid-main-area .container{
        max-width: 730px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .grid-main-area .product{
        width: 50% !important;
    }
    /* Title area */
    .title{
        border-bottom: 4px double #f1f1f1;
        padding: 7px 0;
        cursor: default;
        text-align: left;
        background: none;
        display: none;
    }
    .title strong{
        font-weight: normal;
        display: block;
        color: #4d4d4d;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    /* Selectors and Grid area */
    .product-selectors{
        text-align: center;
        font: 14px 'Khand',sans-serif;
        color: #909090;
        border-bottom: 4px double #f1f1f1;
    }
    .product-selectors select{
        margin-top: 12px;
    }
    .product-selectors span{
        display: inline-block;
        line-height: 40px;
        font-size: 18px;    
    }
    .grid-layer-area{
        font: 20px 'Khand',sans-serif;
        color: #909090;
        width: 100%;
    }
    .grid-layer-area .grid{
        margin-left: 25px;
    }
    .sort-element span{
        font-size: 21px !important;
    }


    /* Hover icon area */
    .product{
        position: relative;
    }
    .product:hover .icon-area{
        display: block;
    }
    .product:hover .icon-area li{
        cursor: pointer;
    }
    .icon-area{
        position: absolute;
        top: 275px;
        z-index: 100;
        display: none;
        padding: 0 !important;
    }
    .icon-area li{
        float: left;
        padding: 15px;
        background: white;
        margin-left: 15px;
        list-style-type: none;
        color: darkgray;
    }
    .icon-area li:hover{
        background: #D02027;
    }
}
@media screen and (max-width: 1024px) and (min-width: 769px){
    .newborn-collection-page{
        max-width: 1180px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
    }
    .newborn-collection-page .main-title{
        text-align: center;
        color: #4d4d4d;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 3px;
        font-weight: 600;
    }
    .grid-main-area{
        width: 100% !important;
    }
    /* Title area */
    .title{
        border-bottom: 4px double #f1f1f1;
        padding: 7px 0;
        cursor: default;
        text-align: left;
        background: none;
        display: none;
    }
    .title strong{
        font-weight: normal;
        display: block;
        color: #4d4d4d;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    /* Selectors and Grid area */
    .product-selectors{
        text-align: center;
        font: 14px 'Khand',sans-serif;
        color: #909090;
        border-bottom: 4px double #f1f1f1;
    }
    .product-selectors select{
        margin-top: 12px;
    }
    .product-selectors span{
        display: inline-block;
        line-height: 40px;
        font-size: 18px;    
    }
    .grid-layer-area{
        font: 20px 'Khand',sans-serif;
        color: #909090;
        width: 100%;
    }
    .grid-layer-area .grid{
        margin-left: 25px;
    }
    .sort-element span{
        font-size: 21px !important;
    }


    /* Hover icon area */
    .product{
        position: relative;
    }
    .product:hover .icon-area{
        display: block;
    }
    .product:hover .icon-area li{
        cursor: pointer;
    }
    .icon-area{
        position: absolute;
        top: 255px;
        z-index: 100;
        display: none;
        padding: 0 !important;
    }
    .icon-area li{
        float: left;
        padding: 15px;
        background: white;
        margin-left: 15px;
        list-style-type: none;
        color: darkgray;
    }
    .icon-area li:hover{
        background: #D02027;
    }
}
@media screen and (min-width: 1025px){
    .newborn-collection-page{
        max-width: 1180px;
        width: 100%;
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
    }
    .newborn-collection-page .main-title{
        text-align: center;
        color: #4d4d4d;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 3px;
        font-weight: 600;
    }
    /* Title area */
    .title{
        
        padding: 7px 0;
        cursor: default;
        text-align: left;
        background: none;
        display: block;
    }
    .title strong{
        font-weight: normal;
        display: block;
        color: #4d4d4d;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 3px;
        border-bottom: 4px double #f1f1f1;
    }

    /* Selectors and Grid area */
    .product-selectors{
        text-align: center;
        font: 14px 'Khand',sans-serif;
        color: #909090;
        border-bottom: 4px double #f1f1f1;
    }
    .product-selectors select{
        margin-top: 12px;
    }
    .product-selectors span{
        display: inline-block;
        line-height: 40px;
        font-size: 18px;    
    }
    .grid-layer-area{
        font: 20px 'Khand',sans-serif;
        color: #909090;
    }
    .grid-layer-area .grid{
        margin-left: 25px;
    }
    .sort-element span{
        font-size: 21px !important;
    }


    /* Hover icon area */
    .product{
        position: relative;
    }
    .product:hover .icon-area{
        display: block;
    }
    .product:hover .icon-area li{
        cursor: pointer;
    }
    .icon-area{
        position: absolute;
        top: 255px;
        z-index: auto;
        display: none;
        padding: 0 !important;
    }
    .icon-area li{
        float: left;
        padding: 15px;
        background: white;
        margin-left: 15px;
        list-style-type: none;
        color: darkgray;
    }
    .icon-area li:hover{
        background: #D02027;
    }
}